section {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

.filters {
    margin-bottom: 2rem;

    mat-form-field {
        width: 100%;
        max-width: 400px;
    }
}

.grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: center;
    }

}