img {
    max-width: 50%;
    max-height: 150px;
    object-fit: contain;
}

mat-card-actions {
    display: flex;
    flex-flow: row;
    gap: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #0d3b66;
}

.wishlist-container {
    margin: 2rem auto;
    padding: 0 1rem;
}

.wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.item-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-row img {
    width: 150px;
    object-fit: cover;
}

.item-info {
    flex: 1;
}