.header {
    background-color: white;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    gap: 5px;
}

.Title {
    color: black;
    font-weight: bold;
    font-size: 2em;
    margin: auto;
}

mat-icon {
    color: white;
    font-weight: bold;
}

.MenuButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.WishlistButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.LanguageButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
    min-width: 48px;

    .language-flag {
        font-size: 24px;
        line-height: 1;
    }
}


.CartButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.LoginButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;

}

.LogoutButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.RegisterButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.UserAreaButton {
    background-color: #336699;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

mat-toolbar {
    display: flex;
    justify-content: center;
}