.example-card {
    max-width: 100%;
    margin: auto;
    text-align: center;

    img {
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 1rem;
    }
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}