.http-state-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.http-state-error {
  margin: 2rem auto;
  max-width: 600px;

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    p {
      text-align: center;
      color: #b71c1c; // dark forest-red for errors
    }

    button {
      margin-top: 1rem;
    }
  }
}