// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$blue-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #dce8f0;
  color: var(--mat-sys-on-surface, #1a2a3a);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar Notification Styles */
.error-snackbar {
  --mdc-snackbar-container-color: #c0392b !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;

  .mdc-snackbar__surface {
    background-color: #c0392b !important;
  }

  .mat-mdc-snack-bar-label {
    color: #fff !important;
  }

  .mat-mdc-button {
    color: #fff !important;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: #27ae60 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;

  .mdc-snackbar__surface {
    background-color: #27ae60 !important;
  }

  .mat-mdc-snack-bar-label {
    color: #fff !important;
  }

  .mat-mdc-button {
    color: #fff !important;
  }
}

.info-snackbar {
  --mdc-snackbar-container-color: #4a90d9 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;

  .mdc-snackbar__surface {
    background-color: #4a90d9 !important;
  }

  .mat-mdc-snack-bar-label {
    color: #fff !important;
  }

  .mat-mdc-button {
    color: #fff !important;
  }
}

.warning-snackbar {
  --mdc-snackbar-container-color: #e67e22 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;

  .mdc-snackbar__surface {
    background-color: #e67e22 !important;
  }

  .mat-mdc-snack-bar-label {
    color: #fff !important;
  }

  .mat-mdc-button {
    color: #fff !important;
  }
}